<body>
    <h1>Welcome to CSE Motors!</h1>
    <main>
        <div class="hero">
            <div id="heroParagraph">
                <h2 id="titleHero">
                    DMC Delorean
                </h2>

                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dicel</li>
                </ul>
                <img src="images/site/own_today.png" alt="">
            </div>
            <img 
            src="images/vehicles/delorean.jpg"
            srcset="images/vehicles/delorean.jpg 600w" 
            alt="hero image">
        </div>

        <div id="reviews">
            <h2>
                DMC Delorean Reviews
            </h2>
            <ul id="pList">
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly." (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>

        <div id="deloreanUpg">
            <h2>
                Delorean Upgrades
            </h2>
            <div class="gridContainer">
                <div class="smallImages">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor Image">
                    <a href="/">Flux Capacitor</a>
                </div>

                <div class="smallImages">
                    <img src="images/upgrades/flame.jpg" alt="Flame Image">
                    <a href="/">Flame Decals</a>
                </div>

                <div class="smallImages">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker Image">
                    <a href="/">Bumper Stickers</a>
                </div>

                <div class="smallImages">
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Cap Image">
                    <a href="/">Hub Caps</a>
                </div>
            </div>
        </div>
    </main>
</body>